body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    margin-top:50px;
}

.container{
    width:400px;
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

input{
    width:70%;
    padding:10px;
}

button{
    padding:10px;
    cursor:pointer;
}

#weatherResult{
    margin-top:20px;
}